<div class="welcome">
    <h1>Community Service Outreach</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nemo sapiente perferendis saepe labore sed natus, accusantium quae, sequi fugiat tenetur dicta? Facilis laudantium ab voluptas, aspernatur provident veritatis temporibus!</p>
    <h2>About Us</h2>
    <p class="h2-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos repellendus atque eveniet. Facilis sit voluptatum iure, autem saepe perferendis dolorem, officiis repellat incidunt libero neque alias minus nesciunt. Asperiores, possimus.
    </p>
    
</div>
